.main {
	margin-top: 60px;
	margin-left: 25%;
	width: 400px;
}

.canvas rect {
	stroke: black;
	stroke-width: 1;
	fill: white;
}

.canvas polygon {
	stroke: black;
	stroke-width: 0.5;
	fill: none;
}

.controls {
	margin-top: 25px;
}

.controls line {
	stroke: black;
	stroke-width: 0.5;
}
