
.main {
	text-align: center;
	margin-top: 50px;
}

.canvas svg {
	width: 400px;
}

.canvas rect {
	stroke: grey;
	stroke-width: 1;
	fill: rgb(0,200,200);
}

.canvas polygon {
	stroke: white;
	stroke-width: 0.5;
	fill: rgba(255,255,100,0.4);
}

.canvas circle {
	stroke: red;
	fill: red;
}
