.main {
	margin-top: 50px;
	margin-left: 25%;
	font-family: sans-serif;
}

.banner {
	font-size: 24pt;
	font-weight: bold;
}

.canvas svg {
	width: 400px;
	float: left;
}

.canvas rect {
	fill: rgb(0,200,200);
}

.canvas polygon {
	fill: rgba(255,255,100,0.4);
}

div.complist {
	margin-top: 10px;
}

.complist span:hover {
	background: black;
	color: white;
}

div.controls {
	float: left;
}

.controls div {
	width:20px;
	height: 400px;
	margin-left:20px;
	display: block;
	float: left;
}
